{% extends "templates/layouts/base.twig" %}

{% block content %}

    {% do action('woocommerce_before_main_content') %}

    <div class="before-shop-loop">
        {% do action('woocommerce_before_shop_loop') %}
    </div>

    <div class="row">
        <div class="col-md-2">
            {% filter shortcodes %}
        </div>
        <div class="col-md-10">
            <div class="loop">
                {% for post in products %}
                    {% include ["templates/woocommerce/partials/tease-archive.twig"] %}
                {% endfor %}
            </div>
        </div>
    </div>

    {% do action('woocommerce_after_shop_loop') %}
    {% do action('woocommerce_after_main_content') %}

{% endblock  %}