{% include 'templates/layouts/helpers/header/header-topper.twig' %}

<div class="site-branding container py-md-3 py-2" data-template="helpers.base-header.twig">
    <section class="d-flex align-items-center">
        <figure>
            {{ fn('the_custom_logo') }}
        </figure>
        {% include 'templates/layouts/helpers/header/header-reviews.twig' %}
        <aside class="d-none d-lg-inline-block ml-md-1">
            {{  fn('the_search_form') }}
        </aside>
        <aside class="ml-auto d-inline-block d-lg-none fa-2x color-tertiary-dark-10">
            <button class="btn btn-lg bg-transparent" data-mobile-menu-target="#mobile-menu">
                <i class="fas fa-bars" style="pointer-events: none;"></i>
            </button>
        </aside>
    </section>
</div><!-- .site-branding -->
