{# extends base.twig #}
{% extends "templates/layouts/base.twig" %}
{% block content %}
    {#{{ 2349|apply_filters('bare_product_card_filter') }}#}
    {#{{ 2349|apply_filters('horizontal_product_card_filter') }}#}
    <div class="body">
        {{ post.content }}
        <vmw-search></vmw-search>
    </div>
{% endblock %}