<section class="bg-tertiary-light-50">
    <div class="container py-2">
        <p class="d-flex flex-column mb-0">
            <strong>Hulp of advies nodig?</strong>
            Bel of mail ons!
            <span>
                <i class="fas fa-phone text-primary"></i> 020 - 2619642 <i class="far fa-envelope text-primary"></i> info@vindmijnwijn.nl
            </span>
        </p>
    </div>
</section>