<section class="border-top border-tertiary-light-50">
    <div class="container d-md-flex">
        <span class="d-flex align-items-center mr-2">
            <span style="height: 50px; width: 50px;">
                {{ fn('the_wine_glass') }}
            </span>
            Bestel makkelijk bij meerdere wijnwinkels
        </span>
        <span class="d-flex align-items-center mr-2">
            <i class="fas fa-check-circle fa-stack fa-2x text-primary mr-1"></i>
            Snel bezorgd
        </span>
        <span class="d-flex align-items-center mr-2">
            <i class="fas fa-check-circle fa-stack fa-2x text-primary mr-1"></i>
            <strong class="mr-1">Gratis</strong>bezorging > € 70,-
        </span>
    </div>
</section>
