<section class="vmw__gradient__background__left py-2">
    <div class="container text-white">
        {% if not function('elementor_theme_do_location', 'footer-widgets') %}

        {% endif %}
    </div>
</section>

<section>
    <div class="container">
        {% if not function('elementor_theme_do_location', 'footer-image') %}

        {% endif %}
    </div>
</section>

<section class="bg-tertiary-light-50 py-2">
    <div class="container">
        {% if not function('elementor_theme_do_location', 'footer-disclaimer') %}

        {% endif %}
    </div>
</section>