.woocommerce-input-field-template,
#wizard .actions a {
  height: 40px;
  border: 1px solid rgba(51, 51, 51, 0.5);
  padding-left: 15px;
  border-radius: 5px !important;
}

#wizard-p-0 {
  display: grid;
  grid-template-columns: 50% 50%;
}

#wizard-p-0 .woocommerce-additional-fields {
  display: none;
}

#wizard-p-0 .form-row {
  width: 100%;
  display: block;
}

#wizard-p-0 #ship-to-different-address-checkbox {
  position: initial;
  margin-left: initial;
}

#wizard-p-0 #ship-to-different-address {
  cursor: pointer;
}

