@import "helpers/all"

#wizard-p-0
  display: grid
  grid-template-columns: 50% 50%

  +mobile_only
    grid-template-columns: 100%

  .woocommerce-additional-fields
    display: none

  .form-row
    width: 100%
    display: block

  #ship-to-different-address-checkbox
    position: initial
    margin-left: initial

  #ship-to-different-address
    cursor: pointer

.woocommerce-shipping-totals
  p.woocommerce-shipping-destination
    display: none

#wizard
  .actions
    a
      +border_radius
