#wizard-p-0
  display: grid
  grid-template-columns: 50% 50%

  .woocommerce-additional-fields
    display: none

  .form-row
    width: 100%
    display: block

  #ship-to-different-address-checkbox
    position: initial
    margin-left: initial

  .ship-to-different-address
    font-size: 1rem