=hover_shadow
  &:hover
    -webkit-box-shadow: 0 0 8px 3px rgba( #f4f4f4, 0.6)
    -moz-box-shadow: 0 0 8px 3px rgba( #f4f4f4, 0.6)
    box-shadow: 0 0 8px 3px rgba( #f4f4f4, 0.6)

=border_radius
  -webkit-border-radius: 5 !important
  -moz-border-radius: 5 !important
  border-radius: 5 !important

=normalize_list
  list-style: none
  padding: 0

=product_title_bar
  position: relative
  height: 2.5rem
  overflow-y: hidden
  
  &::after
    content: ""
    position: absolute
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    height: 1px
    background: var(--primary)
    width: 150px