.current-menu-item {
  color: var(--primary) !important;
}

.has-border-radius {
  border-radius: 5px !important;
}

.mt-2-my-images img {
  margin-top: 1rem;
}

.woocommerce-input-wrapper input {
  height: 45px;
  border-radius: 5px !important;
}

.woocommerce-address-fields__field-wrapper .form-row {
  flex-direction: column;
}

