.woocommerce-input-field-template,
.woocommerce-Input,
.woocommerce-input-wrapper input {
  height: 40px;
  border: 1px solid rgba(51, 51, 51, 0.5);
  padding-left: 15px;
  border-radius: 5px !important;
}

.transit {
  transition: all 0.3s;
}

.current-menu-item {
  color: var(--primary) !important;
}

.has-border-radius {
  border-radius: 5px !important;
}

.mt-2-my-images img {
  margin-top: 1rem;
}

.woocommerce-address-fields__field-wrapper .form-row {
  flex-direction: column;
}

#zoekresultaten {
  position: absolute;
  top: 100%;
  z-index: 4;
}

.autoComplete_result {
  margin: 0 !important;
}

.woocommerce-ordering::before {
  content: "Sorteer op:";
}

