@import "helpers/all"

.current-menu-item
  color: var(--primary) !important

.has-border-radius
 +border_radius

.mt-2-my-images
  & img
    margin-top: 1rem


.woocommerce-input-wrapper
  & input
    @extend .woocommerce-input-field-template

.woocommerce-Input
  @extend .woocommerce-input-field-template



.woocommerce-address-fields__field-wrapper
  & .form-row
    flex-direction: column