.product__card {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
  position: relative;
}

.product__card .product__card__image {
  height: 175px;
}

.product__card .product__card__price {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  bottom: 0;
  left: 0;
  -webkit-transform: matrix(1, 0, 0, 1, 90, 0);
          transform: matrix(1, 0, 0, 1, 90, 0);
}

.product__horizontal__card {
  display: grid;
  grid-template-areas: "img main aside";
  grid-template-columns: 20% 50% 30%;
}

@media screen and (max-width: 414px) {
  .product__horizontal__card {
    grid-template-areas: "img aside" "main aside";
    grid-template-columns: 1.5fr 1fr;
  }
}

.product__horizontal__card:hover {
  box-shadow: 0 0 8px 3px rgba(244, 244, 244, 0.6);
}

.product__horizontal__card .product__horizontal__image {
  grid-area: img;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.product__horizontal__card .product__horizontal__content {
  grid-area: main;
}

.product__horizontal__card .product__horizontal__buy {
  grid-area: aside;
  font-size: 2rem;
}

@media screen and (max-width: 414px) {
  .product__horizontal__card .product__horizontal__buy .product__horizontal__add_to_cart {
    flex-wrap: wrap;
  }

  .product__horizontal__card .product__horizontal__buy .product__horizontal__add_to_cart #quantity {
    width: 32px;
  }
}

.product__horizontal__add_to_cart {
  display: flex;
  height: 45px;
}

.product__horizontal__add_to_cart .btn-plusle-minum {
  border-radius: 5px !important;
}

.product__horizontal__add_to_cart .btn-plusle-minum:first-of-type {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.product__horizontal__add_to_cart .btn-plusle-minum:last-of-type {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.product__horizontal__add_to_cart .btn-order {
  border-radius: 5px !important;
}

.product__horizontal__add_to_cart input {
  border: 0;
  border-bottom: 1px solid #a7a7a7;
  border-top: 1px solid #a7a7a7;
}

.product__horizontal__add_to_cart input[type=numeric] {
  width: 50px;
}

.vmw__recently__visited__container {
  display: grid;
  grid-template-columns: 30% auto;
}

.vmw__recently__visited__container:hover {
  box-shadow: rgba(255, 255, 255, 0.2);
}

.vmw__product__attributes {
  list-style: none;
  padding: 0;
}

.product__card__border__title {
  position: relative;
  height: 2.5rem;
  overflow-y: hidden;
  height: 1px;
}

.product__card__border__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1px;
  background: var(--primary);
  width: 150px;
}

.product__card__title {
  height: 3rem;
}

