.note-text
  font-size: 1rem !important
  color: var(--primary) !important

.remove-filter
  &::before, &::after
    background: var(--primary) !important
    width: 100% !important
    height: 2px !important