.woocommerce-input-field-template {
	height: 40px;
	border: 1px solid rgba(51, 51, 51, 0.5);
	padding-left: 15px;
	border-radius: 5px !important;
}

.transit {
	transition: all 0.3s;
}

.note-text {
	font-size: 1rem !important;
	font-weight: 400;
	margin-left: 8px;
}

.remove-filter::before,
.remove-filter::after {
	width: 100% !important;
	height: 2px !important;
}

@media screen and (max-width: 414px) {
	#filterProducts {
		display: none;
	}

	#filterProducts.active {
		display: block;
	}
}
