.woocommerce-input-field-template {
  height: 40px;
  border: 1px solid rgba(51, 51, 51, 0.5);
  padding-left: 15px;
  border-radius: 5px !important;
}

.transit,
.shopping__cart__container.is-active.is-full,
.shopping__cart__container.is-active,
.shopping__cart__container.is-peeking,
.shopping__cart__container {
  transition: all 0.3s;
}

.shopping__cart__container {
  position: fixed;
  top: 0;
  right: -100%;
  width: 33vw;
  height: 100vh;
  background: var(--white);
  overflow-y: scroll;
  z-index: 9998;
}

.shopping__cart__container.is-active {
  right: 0;
}

@media screen and (max-width: 768px) {
  .shopping__cart__container.is-active {
    width: 100vw;
  }
}

.shopping__cart__container.is-active.is-full {
  width: 100vw;
}

.vmw__shopping__cart__header {
  padding-top: 0.75rem;
}

.vmw__shopping__cart__item {
  display: grid;
  grid-template-areas: "figure main";
  grid-template-columns: 20% 80%;
}

.vmw__shopping__cart__item .attachment-woocommerce_thumbnail {
  width: auto;
  max-height: 130px;
}

.vmw__shopping__cart__item .vmw__shopping__cart__thumbnail {
  grid-area: figure;
  display: flex;
  justify-content: center;
}

.vmw__shopping__cart__item .vmw__shopping__cart__content {
  grid-area: main;
  display: grid;
  grid-template-areas: "title title title title" "quantity amount amount amount" "price price price price";
}

.vmw__shopping__cart__item .vmw__shopping__cart__content .vmw__shopping__cart__name {
  grid-area: title;
}

.vmw__shopping__cart__item .vmw__shopping__cart__content .vmw__shopping__cart__price {
  grid-area: quantity;
}

.vmw__shopping__cart__item .vmw__shopping__cart__content .wac-quantity {
  grid-area: amount;
  display: flex;
}

.vmw__shopping__cart__item .vmw__shopping__cart__content .vmw__shopping__cart__quantity {
  grid-area: price;
}

.wac-quantity {
  display: flex;
  align-items: stretch;
}

.wac-quantity .wac-qty-button {
  border-radius: 0 !important;
  padding: 0;
  display: flex;
  width: 30px;
  justify-content: center;
  align-items: center;
  background: white;
}

.wac-quantity .wac-qty-button:first-of-type {
  border-right: 1px solid var(--tertiary);
}

.wac-quantity .wac-qty-button:last-of-type {
  border-left: 1px solid var(--tertiary);
}

.wac-quantity .input-text.qty {
  border: 0;
  text-align: center;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}

.checkout-button {
  background: var(--primary) !important;
}

.shop_table .product-remove {
  width: 5%;
}

.shop_table .product-thumbnail {
  width: 10%;
}

.shop_table .product-name {
  width: 35%;
}

.shop_table .product-price {
  width: 15%;
}

.shop_table .product-quantity {
  width: 20%;
}

.shop_table .product-subtotal {
  width: 15%;
}

.shopping__cart__footer {
  position: fixed;
  bottom: 0;
  background: var(--white);
  width: 100%;
  padding-top: 1rem;
}

.vmw__shopping__cart__item {
  margin-bottom: 3rem;
}

