@import "functions"
.vmw__single__product
  display: grid
  //grid-template-areas: "header header header header" "img main main aside" "section section section section" "reviews reviews cards cards" "random random random random"
  grid-template-areas: "img main main aside" "section section section section" "cards cards cards cards"
  grid-template-columns: 20% 1fr 1fr 25%
  grid-column-gap: 40px

  @media screen and (max-width: 768px)
    grid-template-areas: "header header header header" "img img aside aside" "main main main main" "section section section section" "reviews reviews reviews reviews" "cards cards cards cards" "random random random random"

  @media screen and (max-width: 414px)
    grid-template-areas: "header header header header" "img img img img" "aside aside aside aside" "main main main main" "section section section section" "reviews reviews reviews reviews" "cards cards cards cards" "random random random random"

  .vmw__single__product__header
    grid-area: header

  .vmw__single__product__aside
    grid-area: img

  .vmw__single__product__main
    grid-area: main

  .vmw__single__product__order
    grid-area: aside
    height: 420px

    display: grid
    grid-template-areas: "a" "b" "c" "d"

  .vmw__single__product__reviews
    grid-area: reviews

  .vmw__single__product__cards
    grid-area: cards

.vmw__single__product__shipping
  display: grid
  grid-template-columns: 10% 90%

.vmw__single__product__usp
  display: grid
  grid-template-areas: "a q" "b r" "c s"
  grid-template-columns: 20% 80%
  grid-row-gap: 0.4rem

.vmw__single__product__vendor__container
  display: grid
  grid-template: "section figure"
  grid-template-columns: 70% 30%
  height: 350px

  .vmw__single__product__vendor__figure
    grid-area: figure
    display: flex
    img
      align-self: center

  .vmw__single__product__vendor__content
    grid-area: section
    overflow-y: scroll

.vmw__single__product__foundit
  grid-area: random

  article
    padding: 0 !important

.vmw__single__product__related
  grid-area: section

.vmw__related__products__list
  display: grid
  grid-template-columns: "land land land jaar" "streek streek streek streek" "druif druif druif druif" "smaak smaak smaak smaak" "prijs prijs prijs prijs"

  .vmw__related__products__list__item
    display: flex

  .vmw__related__products__list__land
    grid-area: land
  .vmw__related__products__list__jaar
    grid-area: jaar
  .vmw__related__products__list__streek
    grid-area: streek
  .vmw__related__products__list__druif
    grid-area: druif
  .vmw__related__products__list__smaak
    grid-area: smaak
  .vmw__related__products__list__price
    grid-area: prijs

.vmw__related__card__container
  +hover_shadow

.vmw__related__card__container
  +border_radius

.vmw__related__card_title
  position: relative
  height: 2.5rem
  overflow-y: hidden
  &::after
    content: ""
    position: absolute
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    height: 1px
    background: var(--primary)
    width: 150px


.vmw__related__image
  max-height: 250px

.vmw__single__product__price
  font-size: 2rem


.vmw__single__product__order
  .vmw__single__product__vendor__logo
    max-height: 150px
    display: block

.btn-order
  width: 100%