.woocommerce-input-field-template {
	height: 40px;
	border: 1px solid rgba(51, 51, 51, 0.5);
	padding-left: 15px;
	border-radius: 5px !important;
}
.transit {
	transition: all 0.3s;
}
.vmw__single__product {
	display: grid;
	grid-template-areas: "img main main aside" "section section section section" "cards cards cards cards";
	grid-template-columns: 20% 1fr 1fr 25%;
	grid-column-gap: 40px;
}
@media screen and (max-width: 768px) {
	.vmw__single__product {
		grid-template-areas: "header header header header" "img img aside aside" "main main main main" "section section section section" "reviews reviews reviews reviews" "cards cards cards cards" "random random random random";
	}
}
@media screen and (max-width: 414px) {
	.vmw__single__product {
		grid-template-areas: "header header header header" "img img aside aside" "main main main main" "section section section section" "reviews reviews reviews reviews" "cards cards cards cards" "random random random random";
	}
}
.vmw__single__product .vmw__single__product__header {
	grid-area: header;
}
.vmw__single__product .vmw__single__product__aside {
	grid-area: img;
}
.vmw__single__product .vmw__single__product__main {
	grid-area: main;
}
.vmw__single__product .vmw__single__product__order {
	grid-area: aside;
	display: grid;
	grid-template-areas: "a" "b" "c" "d";
}
@media screen and (min-width: 415px) {
	.vmw__single__product .vmw__single__product__order {
		height: 420px;
	}
}
.vmw__single__product .vmw__single__product__reviews {
	grid-area: reviews;
}
.vmw__single__product .vmw__single__product__cards {
	grid-area: cards;
}
.vmw__single__product strong {
	font-weight: 300 !important;
}
.vmw__single__product__shipping {
	display: grid;
	grid-template-columns: 10% 90%;
}
.vmw__single__product__usp {
	display: grid;
	grid-template-areas: "a q" "b r" "c s";
	grid-template-columns: 20% 80%;
	grid-row-gap: 0.4rem;
}
@media screen and (min-width: 768px) {
	.vmw__single__product__usp ul {
		width: 200px;
	}
}
@media screen and (max-width: 414px) {
	.vmw__single__product__usp {
		display: none;
	}
}
.vmw__single__product__vendor__container {
	display: grid;
	grid-template: ". section .";
	grid-template-columns: 10% 80% 10%;
}
.vmw__single__product__vendor__container .vmw__single__product__vendor__figure {
	grid-area: figure;
	display: flex;
}
.vmw__single__product__vendor__container
	.vmw__single__product__vendor__figure
	img {
	align-self: center;
}
.vmw__single__product__vendor__container
	.vmw__single__product__vendor__content {
	grid-area: section;
	overflow-y: hidden;
}
.vmw__single__product__foundit {
	grid-area: random;
}
.vmw__single__product__foundit article {
	padding: 0 !important;
}
.vmw__single__product__related {
	grid-area: section;
}
.vmw__related__products__list {
	display: grid;
	grid-template-areas: "land land land jaar" "streek streek streek streek" "druif druif druif druif" "smaak smaak smaak smaak";
	grid-template-columns: 25% 25% 25% 25%;
}
.vmw__related__products__list .vmw__related__products__list__item {
	text-align: left;
	display: flex;
}
.vmw__related__products__list .vmw__related__products__list__land {
	grid-area: land;
}
.vmw__related__products__list .vmw__related__products__list__jaar {
	grid-area: jaar;
}
.vmw__related__products__list
	.vmw__related__products__list__jaar
	.icon__image__attributes {
	margin-left: 0.5rem;
}
.vmw__related__products__list .vmw__related__products__list__streek {
	grid-area: streek;
}
.vmw__related__products__list .vmw__related__products__list__druif {
	grid-area: druif;
	min-height: 3.1rem;
}
.vmw__related__products__list .vmw__related__products__list__smaak {
	grid-area: smaak;
	min-height: 3.1rem;
}
.icon__image__attributes {
	width: 15px;
	margin-right: 0.5rem;
}
.vmw__related__card__container {
	border-radius: 0 !important;
}
.vmw__related__card__container.current {
	z-index: 2;
	box-shadow: 0 0 8px 3px rgba(51, 51, 51, 0.1);
}
@media screen and (max-width: 414px) {
	.vmw__related__card__container.current {
		display: none;
	}
}
.vmw__related__card_title {
	position: relative;
	height: 2.5rem;
	overflow-y: hidden;
}
.vmw__related__card_title:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	height: 1px;
	background: var(--primary);
	width: 150px;
}
.vmw__single__product__header__title {
	font-weight: 300;
}
.vmw__related__image {
	max-height: 250px;
}
.vmw__single__product__price {
	font-size: 2rem;
}
.vmw__single__product__order .vmw__single__product__vendor__logo {
	max-height: 150px;
	display: block;
}
.btn-order {
	width: 100%;
}
.vmw__single__related__card {
	border-radius: 0 !important;
}
.alternatives_background {
	background-position-y: 2.5rem;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 5rem;
	overflow: hidden;
}
@media screen and (max-width: 414px) {
	.alternatives_background {
		background-image: none !important;
	}
}
@media screen and (max-width: 414px) {
	.vmw__single__product__usp__mobile {
		display: none;
	}
}
